@font-face {
    font-family: "MyriadPro-BlackCond";
    src: url('../styles/MyriadPro/MyriadPro-Regular.ttf');
}

@font-face {
    font-family: "MyriadPro-Light";
    src: url('../styles/MyriadPro/MyriadPro-Light.ttf');
}

@font-face {
    font-family: "MyriadPro-Black";
    src: url('../styles/MyriadPro/MyriadPro-Black.ttf');
}

body, html {
    margin: 0;
    background-image: url(../source/ShortenedBG.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    pointer-events: none;
    font-family: "MyriadPro-BlackCond";
}
