@font-face {
    font-family: "MyriadPro-BlackCond";
    src: url('../styles/MyriadPro/MyriadPro-Regular.ttf');
}

body, html {
    height: 100%;
    margin: 0;
    background-image: url(../source/BG.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-family: "MyriadPro-BlackCond";
}

  