.footer {
  background: #6dc5dd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: grid;
  grid-template-rows: 68% auto;
}

.footer .upper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer .upper .box {
  margin-left: 16%;
  margin-top: 28%;
  width: 60%;
}

.footer .upper .box .title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.footer .upper .box p {
    margin: 0;
    margin-bottom: 4px;
}

.footer .upper .box .article {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.943;
}

.footer .lower {
  display: grid;
  grid-template-columns: 88% auto;
  border-top: 1px solid #ececec;
  margin-left: 2.5%;
  width: 95%;
}

.footer .lower .copyright {
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-top: 42px;
  width: 70%;
}

.footer .lower .copyright p {
margin: 0;
}

.footer .lower .socials {
  display: grid;
  grid-template-columns: 36% 36%;
  margin-top: 27px;
  margin-left: 28%;
}

.footer .lower .socials a {
    width: 33px;
    height: 33px;
}

.footer .lower .socials img {
  widows: 100%;
}
