.footer {
  background: #6dc5dd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 195px;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(220px, 1fr));
  break-inside: avoid;
}

.footer .upper {
  display: grid;
  grid-row: 1 span;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.footer .upper .box {
  margin-left: 16%;
  margin-top: 28%;
  width: 60%;
}

.footer .upper .box .title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.footer .upper .box p {
  margin: 0;
  margin-bottom: 4px;
}

.footer .upper .box .article {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: "MyriadPro-Light";
  line-height: 1.943;
}

.footer .lower {
  display: grid;
  grid-row: 1 span;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  border-top: 1px solid #ececec;
  margin-left: 2.5%;
  width: 95%;
}

.footer .lower .copyright {
  display: grid;
  grid-column: 2 span;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-family: "MyriadPro-Light";
  line-height: 1.2;
  margin-top: 42px;
  width: 89%;
}

.footer .lower .copyright p {
  margin: 0;
  width: 60%;
  margin: 0 auto;
  min-width: 100%;
}

.footer .lower .socials {
  display: inline-block;
  grid-column: 1 span;
  grid-template-columns: 85% auto;
  justify-items: end;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

.footer .lower .socials .logo {
  margin-right: 0;
  width: 33px;
  display: inline-block;
}

.footer .lower .socials a {
  width: 33px;
  height: 33px;
}

.footer .lower .socials img {
  width: 100%;
}
