.header {
  border-radius: 5px 5px 0 0;
  min-height: 99px;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  justify-content: center;
  width: 30%;
  min-width: 300px;
  margin: 0 auto;
}

.logo__companyImg {
  padding: 4px 18px;
  width: 60%;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 60%;
  justify-content: space-evenly;
  flex-grow: 1;
}

.navigation a {
  text-decoration: none;
  color: #787878;
}

.navigation h4 {
  border-right: 1px solid #ececec;
  padding-right: 15px;
  font-size: 16px;
  line-height: 1.2;
}

.navigation__home a {
  color: #6dc5dd;
}
