.section1 {
  background: #ededed;
  height: auto;
  display: grid;
  grid-template-columns: 50% auto;
  break-inside: avoid;
}

  .section1__img{
  background: url(../source/pictures/header/Screen.png);
  background-repeat: no-repeat;
  background-size: 65%;
  padding-bottom: 100%;
  background-position:85% 100%;
}

.section1__text {
  display: grid;
  grid-template-rows: fit-content(40%);
  margin-top: 91px;
}

.section1__text h1,
.section1__text h2,
.section1__text h3 {
  margin: 0;
}

.section1__text_h1,
.section1__text_h2 {
  font-size: 20px;
  font-family: "MyriadPro-Black";
  color: rgb(0, 61, 72);
  line-height: 1.2;
}

.section1__text_h2 {
  font-family: "MyriadPro-Light";
}

.section1__text_span {
  font-size: 18px;
  color: rgb(139, 139, 139);
  line-height: 1.2;
  width: 92%;
}

.section1__button button {
  width: 129px;
  height: 44px;
  background: #f77462;
  border: 1px solid #f77462;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
}
