.section4 {
    height: 206px;
    width: 100%;
    display: grid;
    background: #f77462;
    color: #fff;
    display: grid;
    grid-template-rows: 42% auto;
}

.section4 .title, .section4 .text {
    display:block;
    margin:auto;
    margin-top: 0;
}

.section4 h1 {
    margin-top: 23%;
}

.section4 p {
    margin-left: 17%;
    width: 80%;
}

.section4 span {
    margin-left: 30%;
}