@media screen and (max-width: 650px) {
  .section5 {
    display: block !important;
  }
  .section5 .lower {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
  }
  .section5 .lower .leftSide {
    grid-column: 2 span !important;
  }
  .section5 .lower .rightSide {
    grid-column: 2 span !important;
  }
  .section5 .lower .leftSide .block p {
    width: 75% !important;
  }
}

.section5 {
  min-height: 646px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  break-inside: avoid;
}

.section5 .upper {
  display: grid;
  grid-row: 1 span;
  grid-template-rows: 70% auto;
}

.section5 .upper .title {
  font-size: 32px;
  color: rgb(0, 61, 72);
  line-height: 0.9;
  text-align: center;
  padding-top: 18px;
  box-sizing: border-box;
  margin-left: 24.3%;
  width: 50%;
}

.section5 .upper .text {
  font-size: 22px;
  text-align: center;
  font-family: "MyriadPro-Light";
  color: rgb(109, 197, 221);
  line-height: 1.309;
  border: 1px solid #ececec;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
  width: 95%;
  margin-left: 2.5%;
  padding-top: 10px;
}

.section5 .lower {
  display: grid;
  grid-row: 5 span;
  grid-template-columns: repeat(2, 1fr);
}

.section5 .lower .leftSide {
  display: grid;
  grid-template-rows: repeat(3, 28.5%);
}

.section5 .lower .leftSide .block {
  display: grid;
  grid-template-columns: 15% auto;
  grid-column-gap: 14px;
}

.section5 .lower .leftSide .block .img {
  margin: 34% 33%;
}

.section5 .lower .leftSide .block .text a img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
}

.section5 .lower .leftSide .block .article {
  margin-top: 6%;
  margin-left: 5.5%;
  width: 93%;
}

.section5 .lower .leftSide .block .article h4 {
  margin: 0;
  font-size: 16px;
  color: rgb(0, 61, 72);
  line-height: 1.8;
}

.section5 .lower .leftSide .block .article span {
  margin: 0px 0px 9px 0px;
  font-size: 14px;
  color: rgb(247, 116, 98);
}

.section5 .lower .leftSide .block .article p {
  margin: 0;
  font-size: 15px;
  color: rgb(120, 120, 120);
  line-height: 1.6;
  width: 90%;
}

.section5 .lower .rightSide {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  max-width: 100%;
  max-height: 79%;
  margin-bottom: 10%;
}

.section5 .lower .rightSide .block {
  display: grid;
  grid-template-columns: auto 25%;
  background: #ececec;
  min-height: 82%;
  width: 92.2%;
  margin-top: 40px;
  margin-left: 15px;
  border-radius: 3px;
}

.section5 .lower .rightSide .block .article {
  margin-top: 10%;
  margin-left: 9%;
  min-height: 125px;
}

.section5 .lower .rightSide .block .article .author {
  margin-top: 1.5%;
}

.section5 .lower .rightSide .article__quote p {
  font-size: 15px;
  color: rgb(140, 145, 147);
  line-height: 1.6;
  margin: 0;
  width: 85%;
}

.section5 .lower .rightSide .author h4 {
  font-size: 16px;
  color: rgb(247, 116, 98);
  line-height: 1.8;
  margin: 0;
}

.section5 .lower .rightSide img {
  margin-top: 25%;
  margin-left: 0%;
  max-width: 79%;
}
