.section4 {
  display: grid;
  background: #f77462;
  color: #fff;
  min-height: 206px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  break-inside: avoid;
}

.section4 .title,
.section4 .text {
  margin: 0 auto;
}

.section4 .title {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.section4 .title h1 { 
  margin: 0;
}

.section4 p {
  margin: 0;
  font-size: 18px;
  font-family: "MyriadPro-Light";
  line-height: 1.6;
  margin-left: 19%;
  width: 80%;
}

.section4 span {
  margin-left: 28%;
}
