.section2 {
  background: #6dc5dd;
  height: 270px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flag,
.camera,
.house {
  margin: 62px 0 0 8%;
  z-index: 200;
  color: #fff;
  display: grid;
  grid-template-columns: 80px auto;

}

.flag__icon,
.camera__icon,
.house__icon {
  background: #fff;
  height: 60px;
  width: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.section2 img {
    display:block;
    margin:auto;
    margin-top: 15%;
}

.section2 h3 {
  margin: 0;
}

.section2 p {
  width: 80%;
}

.section2 a {
  text-decoration: none;
  color: #fff;
}