@media screen and (max-width: 900px) {
  .section1 .text_h1,
  .section1 .text_h2,
  .section1 .text_span,
  .section1 .button {
    font-size: 1.5vw;
  }
}

@media screen and (min-width: 901px) {
  .section1 .text_h1,
  .section1 .text_h2,
  .section1 .text_span,
  .section1 .button {
    font-size: 1vw;
  }
}

@media screen and (max-width: 500px) {
  .section1 .text_h1,
  .section1 .text_h2,
  .section1 .text_span,
  .section1 .button {
    font-size: 2.3vw;
  }
}

.section1 {
  background: #ededed;
  height: auto;
  display: grid;
  grid-template-columns: 50% auto;
  break-inside: avoid;
}

.section1 .img {
  background: url(../source/pictures/header/Screen.png);
  background-repeat: no-repeat;
  background-size: 65%;
  padding-bottom: 68.7%;
  background-position: 49% 100%;
}

.section1 .text {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  margin-top: 91px;
}

.section1 .text h1,
.section1 .text h2,
.section1 .text h3 {
  margin: 0;
}

.section1 .text_h1,
.section1 .text_h2 {
  font-family: "MyriadPro-Black";
  color: rgb(0, 61, 72);
  line-height: 1.2;
}

.section1 .text_h2 {
  font-family: "MyriadPro-Light";
}

.section1 .text_span {
  color: rgb(139, 139, 139);
  line-height: 1.2;
  width: 82%;
}

.section1 button {
  width: 22%;
  height: 30%;
  background: #f77462;
  border: 1px solid #f77462;
  border-radius: 3px;
  color: #ffffff;
  font-size: 0.8vw;
  text-transform: uppercase;
  margin: 5% 0;
}
