body,
html {
  margin: 0;
  width: 100%;
  height: auto;
  background: #f3f3f3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.page {
  background: #c1cdcf;
  height: 100%;
  width: 61.4%;
  min-height: 500px;
  margin: 5.3% auto;
  border: 2px solid rgb(5, 58, 8);
  border-radius: 5px;
  box-sizing: border-box;
  display: grid;
  grid-template: 1fr;
  box-sizing: border-box;
}

.page h2 {
    display: grid;
    justify-content: center;
}

.task {
    margin: 0 auto;
    width: 80%;
}

.interface {
    margin-top: 4%;
    display: grid;
    grid-template-columns: 470px auto;
    margin-bottom: 1em;
}

.interface .in {
    width: 80%;
    display: grid;
    align-content: center;
    justify-content: center;
}

.interface .out {
    max-height: 70px;
    background: #f3f3f3;
}

input, select {
    border: 1px solid black;
    border-radius: 4px;
    min-height: 25px;
    margin-bottom: 1em;
    padding: 5px;
    font-size: 14px;
}

button {
    margin-bottom: 1em;
}