<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="./styles/fontawesome-free-5.10.1-web/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="./styles/page.css" />
    <link rel="stylesheet" href="./styles/body.css" />
    <link rel="stylesheet" href="./styles/header.css" />
    <link rel="stylesheet" href="./styles/section1.css" />
    <link rel="stylesheet" href="./styles/section2.css" />
    <link rel="stylesheet" href="./styles/section3.css" />
    <link rel="stylesheet" href="./styles/section4.css" />
    <link rel="stylesheet" href="./styles/section5.css" />
    <link rel="stylesheet" href="./styles/footer.css" />
    <title>Site Name</title>
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="logo">
            <img
              src="../Layout/source/icons/header/SiteName.png"
              alt="Company Logo"
            />
        </div>
        <div class="navigation">
          <div class="home">
            <a href=""><h4>Home</h4></a>
          </div>
          <div class="about">
            <a href=""><h4>About</h4></a>
          </div>
          <div class="services">
            <a href=""><h4>Services</h4></a>
          </div>
          <div class="portfolio">
            <a href=""><h4>Portfolio</h4></a>
          </div>
          <div class="contact">
            <a href=""><h4>Contract</h4></a>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="section1">
          <div class="img"></div>
          <div class="text">
            <div class="text_h2">
              <h2>Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="text_h1">
              <h1>DONEC NEC JUSTO EGET</h1>
            </div>
            <div class="text_span">
              <span>
                Morbi in sem quis dui placerat ornare. Pellentesque odio euismod
                in, phaertra a, ultricies in, diam.
              </span>
            </div>
            <div class="button">
              <Button type="button"><span>MORE INFO</span></Button>
            </div>
          </div>
        </div>
        <div class="section2">
          <div class="flag">
            <div class="icon">
              <img src="../Layout/source/icons/row1/Flag.png" alt="Flag" />
            </div>
            <div>
              <div class="title"><h3>Aucse Cellentes</h3></div>
              <div class="text">
                <p>
                  Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec
                  consectetuer ligula vulputate sem tristique
                </p>
              </div>
              <div class="readMore">
                <a href=""><h4>Read More <img src="./source/icons/row2/RightArrow.png" alt="goToIcon"></h4></a>
              </div>
            </div>
          </div>
          <div class="camera">
            <div class="icon">
              <img src="../Layout/source/icons/row1/Camera.png" alt="Camera" />
            </div>
            <div>
              <div class="title"><h3>Vestibul auctor</h3></div>
              <div class="text">
                <p>
                  Loasellus ultrices nulla quis nibh. Quisque a lectus. Donec
                  consectetuer ligula vulputate sem tristique
                </p>
              </div>
              <div class="readMore">
                <a href=""><h4>Read More <img src="./source/icons/row2/RightArrow.png" alt="goToIcon"></h4></a>
              </div>
            </div>
          </div>
          <div class="house">
            <div class="icon">
              <img src="../Layout/source/icons/row1/House.png" alt="House" />
            </div>
            <div>
              <div class="title"><h3>Cras ornare</h3></div>
              <div class="text">
                <p>
                  Simasellus ultrices nulla quis nibh. Quisque a lectus. Donec
                  consectetuer ligula vulputate sem tristique.
                </p>
              </div>
              <div class="readMore">
                <a href=""><h4>Read More <img src="./source/icons/row2/RightArrow.png" alt="goToIcon"></h4></a>
              </div>
            </div>
          </div>
        </div>
        <div class="section3">
          <div class="content">
            <div class="row">
              <div class="img">
                <img
                  src="../Layout/source/pictures/row2/nePonyala.png"
                  alt="Business woman"
                />
              </div>
              <div class="article">
                <div class="title">
                  <h3>Lorem ipsum dolor sit amet</h3>
                </div>
                <div class="text">
                  <p>
                    Sed egestas, ante et vulputate volutpat, eros pede semper
                    est, vitae luctus metus libero eu augue. Morbi purus libero,
                    faucibus adipiscing, commodo quis, gravida id, est. Sed
                    lectus tpat, lacus a ultrices sagittis, mi neque euismod
                    dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede
                    arcu, dapibus eu
                  </p>
                </div>
                <div class="button">
                  <Button type="button"><span>More</span></Button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="img">
                <img
                  src="../Layout/source/pictures/row2/heh.png"
                  alt="Businessman"
                />
              </div>
              <div class="article">
                <div class="title">
                  <h3>Lorem ipsum dolor sit amet</h3>
                </div>
                <div class="text">
                  <p>
                    Sed egestas, ante et vulputate volutpat, eros pede semper
                    est, vitae luctus metus libero eu augue. Morbi purus libero,
                    faucibus adipiscing, commodo quis, gravida id, est. Sed
                    lectus tpat, lacus a ultrices sagittis, mi neque euismod
                    dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede
                    arcu, dapibus eu
                  </p>
                </div>
                <div class="section1__button">
                  <Button type="button"><span>More</span></Button>
                </div>
              </div>
            </div>
          </div>
          <div class="aside">
            <div class="control">
              <div class="eronped"><h5>Eronped</h5></div>
              <div class="centro eronped"><h5>Centro</h5></div>
            </div>
            <div class="container">
              <div class="containter__upper">
                <div class="container__title">
                  <h3>Sedegin libero commo</h3>
                </div>
                <div class="containter__text">
                  <p>
                    Simasellus ultrices nulla quis nibh. Quisque a lectus. Donec
                    consectetuer ligula vulputate sem tristique sem tris
                  </p>
                </div>
              </div>
              <div class="container__lower">
                <div class="container__list">
                  <ul>
                    <li><img src="./source/icons/row3/RightArrow.png" alt="goToIcon"> Cras ornare tristique elit sinto sum</li>
                    <li><img src="./source/icons/row3/RightArrow.png" alt="goToIcon"> Integer vitae libero ac risus egestas</li>
                    <li><img src="./source/icons/row3/RightArrow.png" alt="goToIcon"> Vestibulum commodo felis quis tortor</li>
                    <li><img src="./source/icons/row3/RightArrow.png" alt="goToIcon"> Donec quis dui at dolor tempor interd</li>
                    <li><img src="./source/icons/row3/RightArrow.png" alt="goToIcon"> Fusce lobortis lorem at ipsum semper</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section4">
          <div class="title">
            <h1>Praesent Clacerat</h1>
          </div>
          <div class="text">
            <p>
              Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia,
              magna a ullamcorper laoreet
              <span>lectus arcu pulvinar risus</span>
            </p>
          </div>
        </div>
        <div class="section5">
          <div class="upper">
            <div class="title"><h4>Vestibulum Commodo Felis</h4></div>
            <div class="text">
              <span
                >Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia,
                magna</span
              >
            </div>
          </div>
          <div class="lower">
            <div class="leftSide">
              <div class="block">
                <div class="img">
                  <img src="./source/icons/row4/Jan7.png" alt="Jan7" />
                </div>
                <div class="article">
                  <div class="title"><h4>Gravira Ultrice</h4></div>
                  <div class="comments"><span>14 Comments</span></div>
                  <div class="text">
                    <p>
                      Suspendisse ac urna. Etiam pellentesque mauris ut lectus
                      nunc tellus ante, mattis eget, gravida vitae, ultricies
                      atinvio
                      <a href=""
                        ><img
                          src="./source/icons/row4/OrangeArrow.png"
                          alt="Go to the ..."
                      /></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="block">
                <div class="img">
                  <img src="./source/icons/row4/Jan6.png" alt="Jan6" />
                </div>
                <div class="article">
                  <div class="title"><h4>Tellus Mattis Pelle</h4></div>
                  <div class="comments"><span>07 Comments</span></div>
                  <div class="text">
                    <p>
                      Morbi in sem quis dui placerat ornare. Pellentesque odio
                      nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu
                      <a href=""
                        ><img
                          src="./source/icons/row4/OrangeArrow.png"
                          alt="Go to the ..."
                      /></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="block">
                <div class="img">
                  <img src="./source/icons/row4/Jan5.png" alt="Jan5" />
                </div>
                <div class="article">
                  <div class="title"><h4>Phasellus Lacina</h4></div>
                  <div class="comments"><span>22 Comments</span></div>
                  <div class="text">
                    <p>
                      Lospendisse ac urna. Etiam pellentesque mauris ut lectus.
                      Nunc tellus ante, mattis eget, gravida vitae, ultricies
                      atinvio
                      <a href=""
                        ><img
                          src="./source/icons/row4/OrangeArrow.png"
                          alt="Go to the ..."
                      /></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="rightSide">
              <div class="block">
                <div class="article">
                  <div class="article__quote">
                    <p>
                      “ Sed egestas, ante et vulputate volutpat, eros pede
                      semper est, vitae luctus metus libero eu augue. Morbi
                      purus libero, faucibus adipiscing’
                    </p>
                  </div>
                  <div class="author">
                    <h4>- John Doe</h4>
                  </div>
                </div>
                <div class="img">
                  <img src="./source/icons/row4/Message.png" alt="Message" />
                </div>
              </div>
              <div class="block">
                <div class="article">
                  <div class="article__quote">
                    <p>
                      “ Ced egestas, ante et vulputate volutpat, eros pede
                      semper est, vitae luctus metus libero eu augue. Morbi
                      purus libero, faucibus adipiscing’
                    </p>
                  </div>
                  <div class="author">
                    <h4>- Kate Doe</h4>
                  </div>
                </div>
                <div class="img">
                  <img src="./source/icons/row4/Message.png" alt="Message" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="upper">
          <div class="box">
            <div class="title"><p>Vitae lin</p></div>
            <div class="article">
              <p>Phasellus ultrices Sed adipiscing lipsum Nulla sed leoniton</p>
            </div>
          </div>
          <div class="box">
            <div class="title"><p>Luctrus</p></div>
            <div class="article">
              <p>Lorem ipsum Donec nec justo Morbi in se</p>
            </div>
          </div>
          <div class="box">
            <div class="title"><p>Consetu</p></div>
            <div class="article">
              <p>Quisque a lectus Donec consecte Nulla sed leoniton</p>
            </div>
          </div>
          <div class="box">
            <div class="title"><p>Vitae lin</p></div>
            <div class="article">
              <p>Phasellus ultrices Sed adipiscing lipsum Nulla sed leoniton</p>
            </div>
          </div>
          <div class="box">
            <div class="title"><p>Luctrus</p></div>
            <div class="article">
              <p>Lorem ipsum Donec nec justo Morbi in se</p>
            </div>
          </div>
          <div class="box">
            <div class="title"><p>Consetu</p></div>
            <div class="article">
              <p>Quisque a lectus Donec consecte Nulla sed leoniton</p>
            </div>
          </div>
        </div>
        <div class="lower">
          <div class="copyright">
            <p>
              © Sitename. All rights Reserved. Designed By
              www.alltemplateneeds.com / Photos from : www.photorack.net
            </p>
          </div>
          <div class="socials">
            <div class="logo">
              <a href=""
                ><img src="./source/icons/footer/Facebook.png" alt="Facebook"
              /></a>
              <a href=""
                ><img src="./source/icons/footer/Tweet.png" alt="Twitter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
