<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles/page.css" />
    <link rel="stylesheet" href="./styles/body.css" />
    <link rel="stylesheet" href="./styles/header.css" />
    <link rel="stylesheet" href="./styles/section1.css" />
    <link rel="stylesheet" href="./styles/section2.css" />
    <link rel="stylesheet" href="./styles/section3.css" />
    <title>Site Name</title>
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="logo">
          <div class="logo__img">
            <img
              src="../Layout/source/icons/header/PaperPlane.png"
              alt="Paper Plane"
            />
          </div>
          <div class="logo__companyImg">
            <img
              src="../Layout/source/icons/header/SiteName.png"
              alt="Company Logo"
            />
          </div>
        </div>
        <div class="navigation">
          <div class="navigation__home">
            <a href=""><h4>Home</h4></a>
          </div>
          <div class="navigation__about">
            <a href=""><h4>About</h4></a>
          </div>
          <div class="navigation__services">
            <a href=""><h4>Services</h4></a>
          </div>
          <div class="navigation__portfolio">
            <a href=""><h4>Portfolio</h4></a>
          </div>
          <div class="navigation__contact">
            <a href=""><h4>Contract</h4></a>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="section1">
          <div class="section1__img">
            <img
              src="../Layout/source/pictures/header/Screen.png"
              alt="Company Logo"
            />
          </div>
          <div class="section1__text">
            <div class="section1__text_h2">
              <h2>Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="section1__text_h1">
              <h1>DONEC NEC JUSTO EGET</h1>
            </div>
            <div class="section1__text_h3">
              <h3>
                Morbi in sem quis dui placerat ornare. Pellentesque odio euismod
                in, phaertra a, ultricies in, diam.
              </h3>
            </div>
            <div class="section1__button">
              <Button type="button"><h3>More info</h3></Button>
            </div>
          </div>
        </div>
        <div class="section2">
          <div class="flag">
            <div class="flag__icon">
              <img src="../Layout/source/icons/row1/Flag.png" alt="Flag" />
            </div>
            <div>
              <div class="flag__title"><h3>Aucse Cellentes</h3></div>
              <div class="flag__text">
                <p>
                  Morbi in sem quis dui placerat ornare. Pellentesque odio
                  euismod in, phaertra a, ultricies in, diam.
                </p>
              </div>
              <div class="readMore">
                <a href=""><h4>Read More ⇨</h4></a>
              </div>
            </div>
          </div>
          <div class="camera">
            <div class="camera__icon">
              <img src="../Layout/source/icons/row1/Camera.png" alt="Camera" />
            </div>
            <div>
              <div class="camera__title"><h3>Vestibul auctor</h3></div>
              <div class="camera__text">
                <p>
                  Loasellus ultrices nulla quis nibh. Quisque a lectus. Donec
                  consectetuer ligula vulputate sem tristique
                </p>
              </div>
              <div class="readMore">
                <a href=""><h4>Read More ⇨</h4></a>
              </div>
            </div>
          </div>
          <div class="house">
            <div class="house__icon">
              <img src="../Layout/source/icons/row1/House.png" alt="House" />
            </div>
            <div>
              <div class="house__title"><h3>Cras ornare</h3></div>
              <div class="house__text">
                <p>
                  Simasellus ultrices nulla quis nibh. Quisque a lectus. Donec
                  consectetuer ligula vulputate sem tristique.
                </p>
              </div>
              <div class="readMore">
                <a href=""><h4>Read More ⇨</h4></a>
              </div>
            </div>
          </div>
        </div>
        <div class="section3">
          <div class="content">
            <div class="row">
              <div class="row__img">
                <img
                  src="../Layout/source/pictures/row2/nePonyala.png"
                  alt="Business woman"
                />
              </div>
              <div>
                <div class="row__title">
                  <h3>Lorem ipsum dolor sit amet</h3>
                </div>
                <div class="row__text">
                  <p>
                    Sed egestas, ante et vulputate volutpat, eros pede semper
                    est, vitae luctus metus libero eu augue. Morbi purus libero,
                    faucibus adipiscing, commodo quis, gravida id, est. Sed
                    lectus tpat, lacus a ultrices sagittis, mi neque euismod
                    dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede
                    arcu, dapibus eu
                  </p>
                </div>
                <div class="section1__button button">
                  <Button type="button"><h3>More</h3></Button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row__img">
                <img
                  src="../Layout/source/pictures/row2/heh.png"
                  alt="Businessman"
                />
              </div>
              <div>
                <div class="row__title">
                  <h3>Lorem ipsum dolor sit amet</h3>
                </div>
                <div class="row__text">
                  <p>
                    Sed egestas, ante et vulputate volutpat, eros pede semper
                    est, vitae luctus metus libero eu augue. Morbi purus libero,
                    faucibus adipiscing, commodo quis, gravida id, est. Sed
                    lectus tpat, lacus a ultrices sagittis, mi neque euismod
                    dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede
                    arcu, dapibus eu
                  </p>
                </div>
                <div class="section1__button button">
                  <Button type="button"><h3>More</h3></Button>
                </div>
              </div>
            </div>
          </div>
          <div class="aside">
            <div class="control">
              <div class="eronped"><h5>Eronped</h5></div>
              <div class="centro"><h5>Centro</h5></div>
            </div>
            <div class="container">
              <div class="containter__upper">
                <div class="container__title">
                  <h3>Sedegin libero commo</h3>
                </div>
                <div class="containter__text">
                  <p>Simasellus ultricies nulla quis nibh</p>
                </div>
              </div>
              <div class="container__lower">
                <div class="container__list"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section4"></div>
        <div class="section5"></div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
